
.activity-panel {
	position: absolute;
	top: 20px;
	bottom: 0;
	width: 900px;
	left: 50%;
	margin-left: -450px;
	background-color: #fff;
	color: #333;
	transition: all 0.3s;
	transform: translateY(100%);	
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-right: 2px solid #0007;
	box-shadow: 0 0 100px #fff4;
	padding: 40px;
}

.activity-panel .close-activity {
	font-size: 30px;
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer;
}

.activity-panel .title {
	font-weight: 1000;
	font-size: 30px;
}

.activity-panel .content {
	position: absolute;
	top: 80px;
	left: 0;	
	right: 0;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 40px;
}
.activity-panel.edit .content {
	bottom: 60px;
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 6px;
}

.activity-panel .activity-actions {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	padding: 20px 40px;
	text-align: right;
}

.activity-panel .activity-actions .left {
	float: left;
}
.activity-panel .activity-actions .right {
	float: right;
}

.activity-panel .content-edit {
	height: 100%;
	border: none;
	margin: 0;
	outline: none;
}


/* Activity Panel Open */

.activity-panel.open {
	transform: translateY(0);
}
